# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
app/data/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.yml
build/
.idea
.DS_Store
nbproject/

