# Bootstrap
app/bootstrap*
app/DoctrineMigrations/*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
*/bin/*
app/config/deploy/*
app/data/*
web/uploads/*
web/bundles/*
!app/config/deploy/*.rb.dist

# Configuration files
app/config/parameters.yml
build/
.idea
.DS_Store
nbproject/
composer.phar