<ul class="list">
    {% for user in users %}
    <li><a href="{{ path('user_profile_show', { 'slug': user.slug }) }}"> <img src="{{ user.avatar(28) }}" /> <span>{{ user.userName }} </span></a></li>
    {% endfor %}
</ul>
