<form action="{{ path(route_category, { 'slug' : category.slug } ) }}" method="post" class="clearfix">
    {{ form_widget(form) }}

    <div class="rest">
        <input type="submit" class="fantomas submit btn btn-sm btn-primary" />
    </div>
</form>
