parameters:
  database_driver:   pdo_mysql
  database_host:     localhost
  database_port:     ~
  database_name:     tempo
  database_user:     root
  database_password: ~

  mailer_transport:  smtp
  mailer_host:       localhost
  mailer_user:       ~
  mailer_password:   ~

  locale:            en
  secret:            cb8f190153190ebe8598ac49e86ebf37

  oauth.google.clientid:     <google_client_id>
  oauth.google.clientsecret: <google_client_secret>
