parameters:
  database_driver:   pdo_mysql
  database_host:     localhost
  database_port:     ~
  database_name:     tempo
  database_user:     root
  database_password: ~

  mailer_transport:  smtp
  mailer_host:       localhost
  mailer_user:       ~
  mailer_password:   ~

  locale:            en
  secret:            cb8f190153190ebe8598ac49e86ebf37

  node_bin:       /usr/bin/node
  node_modules:   /usr/lib/node_modules
  java_bin:       /usr/bin/java

  oauth.google.clientid:     <google_client_id>
  oauth.google.clientsecret: <google_client_secret>
  socket_io.client: localhost:8000

  knp_snappy.pdf.binary: /usr/bin/wkhtmltopdf
  knp_snappy.image.binary: /usr/bin/wkhtmltopdf
