<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% stylesheets
        '@TempoMainBundle/Resources/less/bundles.less'
        'vendor/bootstrap/dist/css/bootstrap.min.css'
        filter='less, ?cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <title>{% block title %} Project Management Software {% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="user" class="login">
        <div id="contenair">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
