<div  class="events-push">
    {% for event in events %}
        {% if event.provider is defined %}
            {% set target = event.provider  %}
        {% else %}
            {% set target = event.target  %}
        {% endif %}
        {% include 'TempoActivityBundle:Activity:_' ~ target ~ '.html.twig' %}
    {% endfor %}

</div>
