<div class="col-md-2">
    <ul class="nav nav-pills  nav-stacked">
        <li class=" active"><a data-toggle="tab" href="#options">Options </a></li>
        <li><a href="#providers" data-toggle="tab">Service Hooks</a></li>
    </ul>
</div>
<div class="col-md-10">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="options">

        </div>
        <div class="tab-pane" id="providers">
            {{ render(controller('TempoActivityBundle:Provider:list', { 'slug': project.slug })) }}
        </div>
    </div>
</div>