<h1>Project services</h1>

Project services allow you to integrate Tempo with other applications

<div class="container-provider">
    <ul class="list-provider">
        {% for provider in providers  %}
            <li>
                <a data-toggle="modal" role="dialog" data-target="#" data-title="{{ provider.name }} provider" href="{{ path('project_provider_update', { 'slug': slug, 'provider': provider.name } ) }}">{{ provider.name }}</a>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-off clgray"></span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>