<h4>{{ 'organization.team'|trans({},'TempoProject') }} </h4>
<a data-toggle="modal" data-target="#" data-title="Adding a team member" href="#add_membre" class="add-member btn btn-xs btn-info">Add membre<span></span></a>

<div class="list_membre">
    {% include 'TempoProjectBundle:Team:list.html.twig' with {'users': organization.team } %}
</div>

<div id="add_membre" style="display: none;">
    {% include 'TempoProjectBundle:Team:new.html.twig' with {'form': teamForm, 'category' : organization, 'route_category' : 'organization_team_add' } %}
</div>