{% extends 'TempoMainBundle::Layout/web.html.twig' %}

{% block bodyClass %}dashboard {% endblock %}
{% block content %}
    <div id="dashbord">
        <h3 class="homeTitle">Activities across projects</h3>
        <table>
            
        </table>
    </div>
{% endblock %}