{% extends 'TempoMainBundle::Layout/web.html.twig' %}

{% block content %}
    <form class="form-block">
        <div id="settings">
            {{ form_widget(form) }}
        </div>
    </form>

{% endblock %}