{% extends "TempoUserBundle::Layout/web.html.twig" %}

{% block content %}
    <div class="float_left">
      <div class="float-right">

        </div>
        <div class="">
            <h4>{Post}</h4
              <h4>{Passion}</h4>
        </div>


        <div class="">
            <h4>{Recent Activity}</h4>
        </div>

    </div>
    <div class="float_right">
        <div class="">
        <h4>{Contact Information}</h4>
        </div>
            
        <div class="">
        <h4>{Following}</h4>
        </div>   
            
        <div class="">
        <h4>{Groups}</h4>
        </div>  
    </div>

{% endblock %}

    
{% block right %}
    {% include 'TempoUserBundle::Default/_sidebar-right.html.twig' %}
{% endblock %}    
