/*
* This file is part of the Tempo-project package http://tempo.ikimea.com/>.
*
* (c) Mlanawo Mbechezi  <mlanawo.mbechezi@ikimea.com>
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/

/* Generale */
.clearbox {
    clear: both;
}

.clearfix {
    display: block;
}

.clearfix:after {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.line_1, .odd {
    background-color: white;
}

.line_2, .even {
    background-color: #F7F7F7;
}

.modal {
    margin: 0px;
}

input:-webkit-autofill {
    background: #FAFAFA;
}

#page-title {
    margin: 0px 25px 50px 0px;
    color: #005782;
}

#feedback {
    position: fixed;
    left: -3px;
    top: 270px;
    z-index: 750;
}

#feedback a {
    background: url("/bundles/tempomain/images/feedback.png") #313131;
    width: 42px;
    height: 102px;
    display: inline-block;
    display: none;
}

ul.autocompleter-choices {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #7c7c7c;
    border-left-color: #c3c3c3;
    border-right-color: #c3c3c3;
    border-bottom-color: #ddd;
    background-color: #fff;
    text-align: left;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    z-index: 50;
    background-color: #fff;
}

ul.autocompleter-choices li {
    position: relative;
    margin: -2px 0 0 0;
    padding: 0.2em 1.5em 0.2em 1em;
    display: block;
    float: none !important;
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
    font-size: 1em;
    line-height: 1.5em;
}

ul.autocompleter-choices li.autocompleter-selected {
    background-color: #444;
    color: #fff;
}

ul.autocompleter-choices span.autocompleter-queried {
    display: inline;
    float: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
    color: #9FCFFF;
}

.ui-autocomplete-loading {
    background: white url('/bundles/tempomain/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-autocomplete.ui-front {
    z-index: 1051;
}

.records-list thead {
    border-top: 2px solid #666666;
    border-bottom: 1px solid #cccccc;
    background-color: #dddddd;
    background-color: #6B6B6B;
    border-bottom: 1px solid #CCCCCC;
    border-collapse: collapse !important;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    width: 100%;
}

.table .actions li {
    float: left;
    margin-right: 10px;
}

table.table-striped tbody .actions .edit {
    text-indent: -9999px;
}

.record_actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* User */
#user.login {
    background: #D7D7D7;
    color: #333;
    font: 12px Arial, Verdana, sans-serif;
}

#user.login #contenair {
    width: 546px;
    min-height: 380px;
    margin: 100px auto 0;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #888;
}

#user.login #contenair .form-error {
    color: #ffa500;
    margin: 10px;
    text-align: center;
}

#user.login #contenair h1 {
    color: #000;
    font-size: 4em;
    margin-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}

#user.login #contenair .widget {
    margin: 0 auto;
    padding-bottom: 18px;
    width: 456px;
}

#user.login #contenair .widget.remember {
    margin-bottom: 0px;
}

#user.login #contenair label {
    margin-bottom: 8px;
    color: #888;
    display: block;
    font-size: 12px;
}

#user.login #contenair label#remember_me {
    display: inline;
}

#user.login #contenair input[type="text"], #user.login #contenair input[type="password"] {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    padding: 3px;
    width: 440px;
    height: 25px;
    background-color: #FAFAFA;
    border: 1px solid #EEE;

}

#user.login #contenair .submit {
    float: right;
}

#user.login #contenair .submit input[type="submit"] {
}

#user.login #contenair .send {
    float: left;
    padding-top: 8px;
}

#user.login #contenair .send a {
    color: #0066BC;
    text-decoration: none;
}

#user #powered {
    float: right;
    margin: 0px;
    padding: 0px;
    color: #CCC;
}

#user #powered a {
    color: #CCC;
}

#user #powered a:hover {
    color: #0066BC;
}

/** userBundle */
#user_list .user-list-info {
    width: 300px;
    float: left;
    margin-right: 20px;
}

#user_list .user-list-info .avatar {
    float: left;
}

#user_list .user-list-info .infos {
    float: left;
    padding-left: 20px;
}

#user_list .user-list-info a {
    text-decoration: none;
}

.user.show .card-orgs ul {
   padding: 0;
}
.user.show .card-orgs ul li {
    list-style: none;
    float: left;
    padding-left: 10px;

}
.user.list {

}

.dashboard  {
    overflow: hidden;
}
.dashboard #content {
    margin-top: 0;
}
.dashboard .rooms {
    padding: 10px 0;
    background: #FFF;
    border-color: #D5D5D5;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.dashboard .rooms ul li {
    float: left;
    margin-left: 10px;
    list-style: none;
}

.dashboard .rooms ul li a {
    color: #4183c4;
}
.dashboard .rooms ul li a.current {
    font-weight: bold;
}
.dashboard #row-box {
    position: relative;
}
.dashboard #row-box ul {
    /*margin-top: 10px;*/
}
.dashboard #activity-box {
    border-color: #D5D5D5;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    background: #FFF;
    position: relative;
}
.dashboard #activity-box ul {
    list-style: none;
}
.dashboard #activity-box .img.avatar{
    margin-right: 15px;
    float: left;
}
.dashboard #chat-box{
    padding-left: 10px;
    height: 100%;
    position: relative;
}

.dashboard #connected-users {
    top: 0;
    padding: 0 25px;
    border-color: #D5D5D5;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    background: #FFF;
    position: absolute;
    width: 100%;

}
.dashboard #connected-users h5{
    font-weight: normal;
    color: #4a87b6
}

.dashboard #connected-users #user-handle {
}
.dashboard #connected-users #users-list li {
    float: left;
    margin-left: 20px;
}

.dashboard #connected-users #users-list {
    margin-bottom: 10px;
}

.dashboard #chat #chat-messages{
    overflow-x: hidden;
    overflow-y: scroll;
    top: 5em;
    bottom: 0;
    width: 100%;
    position: absolute;
    border-color: #D5D5D5;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    background: #FFF;
    padding: 10px 25px;
}

.dashboard #chat form {
    display: block;
    padding: 0.731em 13px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #C0C0C0;
    width: 100%;
    background: none repeat scroll 0 0 #F9F9F9;
}

.dashboard #chat .form-control {
    width: 100%;
    float: left;

}
.dashboard #chat #message-input-area {
    padding: 0px 0 75px 0;
}
.dashboard #chat #message-submit {
    float: left;
    margin-top: 5px;
}
.dashboard #chat form #message-input {
    border-radius: 0;
    border-radius: 0;
    margin: 5px 25px 10px 0px;
    height: 30px;
    width: 75%;
}
.dashboard #chat .chat-message {
    font-size: 13px;
}
.dashboard #chat .message-head {
    float: left;
    font-weight: bold;
    margin-right: 1em;
}
.dashboard h3.homeTitle {
    font-size: 15px;
    margin-left: 30px;
    font-weight: normal;
    color: #4a87b6;
}
.home.dashboard .events-push {
    clear: both;
    padding-top: 10px;
}
.home.dashboard .events-push .event time{
    color: #bbb;
    padding-left: 40px;
}

.home.dashboard .events-push .action .feed {
    clear: both;
    padding-right: 0;
}
.home.dashboard .events-push .action .feed.user {
    padding-left: 40px ;
}

.home.dashboard .events-push .action .message {
    padding-left: 40px
}
.home.dashboard .events-push .action .details {
    float: left;
}
.home.dashboard .events-push .action .commits {
    margin-top: 0;
    padding-left: 20px;
    float: left;
}
.home.dashboard .events-push .action .more {
    padding-left: 40px;
    display: block;
}
#sidebar .list {
    margin: 30px 0px;
    list-style: none;
}

#choose-organization {
    padding: 20px;
    background: none repeat scroll 0 0 #F1F5FA;
    text-align: center;
}

/* Settings */
.records_list {
    width: 90%;
}

.records_list td li {
    float: left;
    margin-right: 20px;
}

.slider {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 24px;
    width: 173px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    font-size: 14px;
    line-height: normal;
    color: #606060;
    resize: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.12);
}

.slider .knob {
    background: none repeat scroll 0 0 #DDD;
    height: 24px;
    width: 24px;
}

.user.edit.avatar h1 small {
    display: block;
}

.organization #sidebar h4, .project #sidebar h4 {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

.organization #sidebar a.btn, .project #sidebar a.btn {
    margin-bottom: 5px;
    display: block;
}

.organization.show #sidebar .list_membre, .project #sidebar .list_membre {
    clear: both;
}

.organization.show #sidebar .list_membre li, .project #sidebar .list_membre li {
    padding-bottom: 10px;
}

.organization.show #sidebar .list_membre ul li a span, .project #sidebar .list_membre ul li a span {
    display: inline-block;
    margin-left: 5px;
}

/* Organizations */
.organization-add #organization {
    width: 350px;
    float: left;
}

.organization-add #organization label, .organization.edit label {
    width: 100px;
    display: block;
    float: left;
    padding-top: 2px;
    font-weight: bold;
}

.organization-add #organization #organization_name {
}

.organization-add .rest {
    float: left;
    width: 60px;
}

.organization.show #page-title {
}

.organization.show .action {
    margin-top: 30px
}

.organization.show .infos {
    clear: both;
}

.organization.show .infos li {
    display: block;
    margin-bottom: 10px;
}

.organization.show .infos strong {
    display: block;
}

.organization.show .infos .float-right {
    margin-right: 25px;
}

.organization.show .infos .float-right span {
    margin-right: 25px;
}

.organization.show .infos .float-right .nbr-project {
    margin-bottom: 10px;
}

.organization.show #sidebar .list-project {
    clear: both;
}

.organization.show #sidebar .suite {
    font-style: italic;
    margin-left: 60px;
    margin-top: 30px;;
}

.organization.show #sidebar .suite a {
    color: #484848;
}

.organization.show #organization-list-project h3 {
    margin: 35px 50px 60px 50px;
    height: 0;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}

.organization.show #organization-list-project h3 .inner {
    display: inline-block;
    position: relative;
    top: -10px;
    padding: 0 5px;
    background: #fff;
}

.organization.show #organization-list-project ul li {
    float: left;
    width: 300px;
    list-style: none;
    background: #ddd;
    padding: 45px;
}

.organization.show .modal-body {
    text-align: center;
}

.organization.edit form #organization div {
    clear: both;
}

.organization.edit form .rest {
    margin-top: 25px;
}

.organization.edit #sidebar .list_membre li img {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 10px;
}

/* end Organizations */

/* Project */
.show #content .actions {
    float: right;
    margin-top: 30px;
}

.project.dashboard .list li span {
    font-size: 10px;
}

.project #content form .formtextField #project_beginning #project_beginning_time,
.project #content form .formtextField #project_ending #project_ending_time {
    width: 50px;
}

.project #content form .formtextField #project_avancement {
    display: none;
}

.project.show #content #project-tab {
    margin-bottom: 40px;
    clear: both;
}

.project.show #content .mod-head {
    clear: both;
    margin: 0 80px 25px 25px;
    padding: 0;
}

.project.show #content h3 {
    display: inline;
    font-weight: normal;
    margin: 0;
    padding: 0 8px 0 0;
    color: #292929;
    font-size: 19px;
    background-color: #FFF;
}

.project.show #content ul.item-details {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    list-style-type: none;
    margin: 0 0 25px 30px;
    padding: 0;
}

.project.show #content ul.item-details dl {
    display: table;
    margin: 0 0 2px;
    width: 100%;
}

.project.show #content ul.item-details dl dt {
    color: #666666;
    display: table-cell;
    vertical-align: top;
    width: 45%;
}

.project.show #content ul.item-details dl dd {
    display: table-cell;
    vertical-align: top;
}

.project.show #content .mod-content .description {
    margin: 10px;
    clear: both;
}

.project.show #content .project-children {
    margin-left: 25px;
}

.project.show #content .project-children .children {
    display: inline-block;
    background-color: rgba(219, 218, 206, 0.3);
    height: 123px;
    margin: 0 12px 20px 0;
    padding: 0;
    width: 297px;
    color: #696969;
    position: relative;
    border-bottom: 2px solid #dcdbcf;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.project.show #content .project-children .children {
    height: 72px;
    padding: 8px 7px 0 20px;
}

.project.show #sidebar .list_membre li img {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 10px;
}

.project.show #team div label {
    margin-right: 30px;
}

.project.show #team {
    float: left;
    margin-top: 2px;
}

.project.show #add_membre .rest {
    float: left;
    margin-left: 20px;
}

.project.show .action {
    margin-bottom: 16px;
}

.project.edit .form-block, .project.new .form-block #project_description {
    height: 280px;
    width: 100%;
}

.project.edit #content #center form .formtextField input#project_avancement {
    display: none;
    background: none;
    border: none;
    border-radius: none;
    box-shadow: none;
    border-left: none;
    padding: 0;
    height: 24px;
}

.project.edit #content form .formtextField #slider #knob_value,
.project.new #content form .formtextField #slider #knob_value {
    margin-top: 1px;
    font-size: 10px;
}

.project.edit #content form .formtextField #slider .ui-slider-handle,
.project.new #content form .formtextField #slider .ui-slider-handle {
    background: none repeat scroll 0 0 #DDD;
    margin-top: 3px;
    height: 24px;
    width: 24px;
}

.project.edit #content #center form .formtextField #slider span {
    padding-top: 10px;
    display: inline-block;
    font-size: 11px;
}

.project.edit #content .actions {
    margin-top: 35px;
}

.project.edit #content #project_form {
    clear: both;
}

.project .formtextField #slider {
    float: left;
}

.project .formtextField input[type="date"] {
    width: 200px;
}

.project #organization .head .btn {
    margin-top: 5px;
}

.project #organization .head h4 {
    margin-left: 10px;
}

.timesheet.dashboard #page-title{
    font-size: 17px;
    font-weight: normal;
    color: #4a87b6;
}
.timesheet.dashboard .actions-filter {
    float: right;
}
.timesheet.dashboard .actions {
    float: left;
    list-style: none;
}
.timesheet.dashboard .actions li {
    float: left;
    padding: 8px 15px 0 15px;

}
.timesheet.dashboard .actions li.actions{
    padding-top: 0px;
}
.timesheet.dashboard .actions li.actions a{
    background: #f6f6f6;
}

.timesheet.dashboard .week-pagination{
    list-style: none;
    float: left;
}
.timesheet.dashboard .week-pagination li{
    float: left;
}

.timesheet.dashboard .week-pagination a{
    color: #999;
    font-size: 12px;
}
.timesheet.dashboard .week-pagination .btn{
    font-weight: normal;
    background: #f6f6f6;
    border: 1px solid #ddd;
}

#time-list {
    width: 100%;
    clear: both;
}

#time-list thead {
    background-color: #f6f6f6;
}
#time-list thead .header{
    border: 1px solid #e9e9e9;
}
#time-list thead  th {
    height: 15px;
    padding: 5px;
    text-align: center;

}
#time-list thead .header th {
    color: rgb(68, 68, 68);
    /**background-color: #40689b;**/
    font-weight: normal;
    font-size: 12px;
}
#time-list .spacing th {
    background: #FFF;
}

#time-list th.first {
    text-align: left;
}

#time-list tr.t1 {
    background-color: #EBEBEB;
}

#time-list tr.t2 {
    background-color: #FFF;
}

#time-list tbody tr {
    border: 1px solid #e9e9e9;

}
#time-list tr td {
    height: 30px;
    max-height: 30px;
    padding-left: 12px;
    padding-top: 4px;
}
#time-list tr td a {
    font-weight: normal;
    font-size: 13px;
}
#time-list tr td a.boxclose {
    color: #000;
}

#time-list tr td input {
    border: 1px solid #CCCCCC;
    padding: 0px 2px 2px 12px;
    float: left;
}

#time-list tr td input.ch_cra {
    display: none;
}

#time-list tr td input.cra_load {
    background-image: url(/bundles/tempoproject/images/timesheet/durationmillis.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 10px;
    width: 30px;
}

#time-list tr td div.cra_load {
    margin-top: 4px;
    display: block;
    font-size: 10px;
}

#time-list tr td input.cra_desc {
    width: 45px;
    display: none;
}

#time-list tr td form {
    float: left;
    margin: 0px;
}

#time-list tr td .cra {
    float: left;
}

#time-list tr td .show_cra {
    font-size: 10px;
    display: block;
    width: 30px;
}

#time-list tr td div.cra_load span.total {
    font-size: 8px;
}

#time-list tr td div.cra_load span.heures {
    font-size: 8px;
}

#time-list tr td div.cra_load a {
    color: inherit;
    text-decoration: none;
}

#time-list tr td div.list {
    display: none;
    position: relative;
}
#time-list tr td div.list table thead tr th {
    font-size: 12px;
}
#time-list tr td div.list table tr td.actions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#time-list tr td div.list table tr td.actions ul li {
    padding: 0;
}


#time-list tr td table {
    background-color: #FFFFFF;
    border: 1px solid #8CAFCA;

    position: absolute;
    z-index: 2;
    min-width: 500px;
}

#time-list tr td table tr td {
    height: 17px;
    font-size: 9px;
}

#time-list tr td table tr td span.carre {
    margin: auto;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #0B5794;
}

#time-list tr td table tr td span.carre.yellow {
    background-color: #F7A922;
}

#time-list tr td table tr th a {
    color: white;
}

.timesheet.list #sidebar .form-horizontal .control-group {
    margin-top: 10px;
}

.timesheet.list #sidebar .form-horizontal .control-label {
    text-align: left;
    width: 50px;
    padding-left: 20px;
}

.timesheet.list #sidebar .form-horizontal #select-user {
    width: 130px;
}

.timesheet.list #sidebar .form-horizontal .btn {
    margin-left: 20px;
}

/* Help */

.help {
}

.events .event.event {
    padding: 10px;
}
.events .events-push time {
    font-size: 12px;
    color: #bbb;
}